{
  "openapi": "3.0.3",
  "info": {
    "title": "Bookstore - Platform & Ops API",
    "version": "1.0.0",
    "description": "Operational endpoints (health, readiness) for the Bookstore platform.",
    "contact": {
      "name": "Bookstore Platform Team",
      "email": "satyasovan.tripathy@postman.com"
    },
    "license": {
      "name": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://bo-d225e84afdf94a038e1955bfff5e8c50.ecs.us-east-1.on.aws",
      "description": "AWS dev (ECS Express)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ops",
      "description": "Health and readiness probes"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness probe",
        "description": "Returns 200 when the service process is up.",
        "operationId": "getHealth",
        "tags": [
          "Ops"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "nodejs-bookstore-api"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "summary": "Readiness probe",
        "description": "Returns 200 when the service and its dependencies (e.g. MongoDB) are ready.",
        "operationId": "getReadiness",
        "tags": [
          "Ops"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready to accept traffic",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ready"
                    },
                    "dependencies": {
                      "type": "object",
                      "properties": {
                        "database": {
                          "type": "string",
                          "example": "connected"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service not ready (a dependency is unavailable)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "not_ready"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
